name = "advent-of-code-discord-bot"
main = "./src/server.js"
compatibility_date = "2025-11-29"

[vars]
ADVENT_YEAR = "2025"

[triggers]
crons = ["0 5 1-12 12 *"]

[[kv_namespaces]]
binding = "CACHE"
id = "b7f325e9e65746c8b57cae2ad3d18e4c"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
